
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Wrap -->
<div class="page" id="top">
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 parallax-2" data-background="images/full-width-images/section-bg-12.jpg">
        <div class="js-height-full">

            <!-- Hero Content -->
            <div class="home-content container">
                <div class="home-text">
                    <div class="hs-cont">

                        <!-- Headings -->
                        <div class="hs-wrap">

                            <div class="hs-line-13 font-alt mb-10">
                                404
                            </div>

                            <div class="hs-line-4 font-alt mb-40">
                                The page you were looking for could not be found.
                            </div>

                            <div class="local-scroll">
                                <a href="index.html" class="btn btn-mod btn-w btn-round btn-small"><i class="fa fa-angle-left"></i> Back To Home Page</a>
                            </div>

                        </div>
                        <!-- End Headings -->

                    </div>
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Home Section -->
    <!-- Navigation panel -->
    <nav class="main-nav dark transparent stick-fixed">
        <div class="full-wrapper relative clearfix">
            <!-- Logo ( * your text or image into link tag *) -->
            <div class="nav-logo-wrap local-scroll">
                <a href="mp-index.html" class="logo">
                    <img src="images/logo-white.png" alt="" />
                </a>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>
            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist scroll-nav local-scroll">
                    <li class="active"><a href="mailto:support@bestlooker.pro"><i class="fa fa-envelope"></i> support@bestlooker.pro</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i> 0307-567-890</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navigation panel -->
</div>

