 <!-- Head Section -->
@*<section class="small-section bg-gray-lighter: multi-columns-row">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">DOGCODING</h1>
                <div class="hs-line-4 font-alt black">
                    DogBlog - Vladimir Makarevich - junior backend Developer ASP.NET MVC
                </div>
            </div>
            <div class="col-md-4 mt-30">
                <div class="mod-breadcrumbs font-alt black align-right">
                    <a>C#</a>&nbsp;/&nbsp;<a>ASP.NET MVC</a>&nbsp;/&nbsp;<a>WEB</a>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- End Head Section -->