
<!-- Section -->
<section class="page-section">
    <div class="container relative">
        <!-- Row -->
        <div class="row">
            <!-- Col -->
            <div class="col-md-8 col-md-offset-2">
                <!-- Info Message -->
                @*<div class="alert info">
                    <i class="fa fa-lg fa-comments-o"></i>
                </div>*@
                <!-- Success Message -->
                @*<div class="alert success">
                    <i class="fa fa-lg fa-check-circle-o"></i> Sorry, but this section is still under construction
                </div>*@
                <!-- Notice Message -->
                <div class="alert notice">
                    <i class="fa fa-lg fa-exclamation-triangle"></i> Sorry, but this section is still under construction
                </div>
                <!-- Error Notice -->
                @*<div class="alert error">
                    <i class="fa fa-lg  fa-times-circle"></i>
                </div>*@
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</section>
<!-- End Section -->