
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_NavigationPanel")
@Html.Partial("_HeadSection")
  @*<!-- Section -->
    <section class="page-section">
        <div class="relative container">

            <div class="section-text">
                <p>
                    Данный раздел предназначен в первую очередь для тех, кто хочет научиться программировать на C#, и освоить WEB программирование. Сдесь собраны наиболее полезные материалы, которые помогут Вам в дастижении цели.                </p>
                <p>

                </p>
            </div>

        </div>
        <!-- Divider -->
        <hr class="mb-70 mb-xs-30" />
        <!-- End Divider -->
    </section>
    <!-- End Section -->*@
@Html.Partial("_messageNote")