@*@model Rhythm.Domain.Model.DogUser

@if (Model != null)
{
    <li>@Model.EmailUser</li>
    <li>@Html.ActionLink("Exit","Logout","Login")</li>
}
else
{
    <li>@Html.ActionLink("Enter","Index","Login")</li>
}*@
