@*@model IQueryable<Rhythm.Domain.Model.Article>

@{
    Layout = "~/Views/Shared/_Article.cshtml";
}

@section Title{
    @foreach (var p in Model)
    {
        <div class="item">
            @p.Title
        </div>
    }
}

@section ShortDescription{
@foreach (var p in Model)
    {
    <div class="item">
        @p.ShortDescription
    </div>
}

}

@section Description{
    @foreach (var p in Model)
    {
        <div class="item">
            @p.Description
        </div>
    }
}*@
