@model Rhythm.Domain.Model.Post

@{
    Layout = "~/Views/Shared/_Post.cshtml";
}

<!-- Post -->
<div class="blog-item mb-80 mb-xs-40">

    <!-- Text -->
    <div class="blog-item-body">

        <h1 class="mt-0 font-alt">
            @section Title{
                @Html.DisplayFor(model => model.Title)
            }
        </h1>

        <div class="lead">
            @section ShortDescription{
                @Html.DisplayFor(model => model.ShortDescription)
            }
        </div>

        @section Description{
            @Html.DisplayFor(model => model.DescriptionPost)
        }

    </div>
    <!-- End Text -->

</div>
<!-- End Post -->