@model List<Rhythm.Domain.Model.Comment>


@foreach (var comment in Model)
{
        <!-- Comment Item -->
    <li class="media comment-item">

            <a class="pull-left"><img src="" alt="" width="150" height="150"></a>
            <div class="media-body">
                <div class="comment-item-data">
                    <div class="comment-author">
                        <a>@comment.NameUserSender</a>
                    </div>
                    <div class="local-scroll">
                        @comment.PostedOn<span class="separator">&mdash;</span>
                        <a href="#add"><i class="fa fa-comment"></i>&nbsp;Reply</a>
                    </div>
                </div>
                <p>
                    @comment.Comment1
                </p>
            </div>
</li>
        <!-- End Comment Item -->
}
/