@model Rhythm.Domain.Concrete.RecentArticleWidget

<h5 class="widget-title font-alt">Text widget</h5>
<div class="widget-body">
    <div class="widget-text clearfix">
        <img src="~/Content/img/feature-1.png" alt="" width="120" class="img-circle left img-left">
        <a href="#" title="@Model.Title">@Model.Title</a>
        @Model.ArticleContent
    </div>
</div>