@model List<Rhythm.Domain.Model.Post>

<h5 class="widget-title font-alt">Last posts</h5>

<div class="widget-body">
    <ul class="clearlist widget-posts">
        @foreach (var p in Model)
        {
            <li class="clearfix">
                <a href="#"><img src="~/Content/img/user-bone.png" alt="" class="widget-posts-img" /></a>
                <div class="widget-posts-descr">
                    <a href="#" title="">@p.Title</a>
                    Posted by @p.NameSenderPost in @p.PostedOn
                </div>
            </li>
        }
    </ul>
</div>
