@model List<Rhythm.Domain.Model.Category>


<h5 class="widget-title font-alt">Categories</h5>

<div class="widget-body">
    <ul class="clearlist widget-menu">
        @foreach (var c in Model)
        {
            <li>
                <a href="@Url.Action("Category", "Search", new { id = c.ID, Name = c.Name })" title="@c.Name">@c.Name</a>
                <small>
                    - @c.CountCategory
                </small>
                <div class="fa fa-examples">
                    <i class="fa fa-fw">&#xf0a5</i>
                </div>
            </li>

        }
    </ul>
</div>