@model List<Rhythm.Domain.Model.Category>


<h5 class="widget-title font-alt">Categories</h5>

<div class="widget-body">
    <ul class="clearlist widget-menu">
        @foreach (var c in Model)
        {
            <li>
                <a href="@Url.Action("SearchByCategory", "Search", new { id = c.ID })" title="@c.Name">@c.Name</a>
                <small>
                    - @c.CountCategory
                </small>
            </li>
        }
    </ul>
</div>
