@model Rhythm.Domain.Concrete.RecentArticleWidget

<h5 class="widget-title font-alt">Text widget</h5>
<div class="widget-body">
    <div class="widget-text clearfix">
        @if (Model.ImageData != null)
        {
            <img width="200" height="150" src="@Url.Action("GetImage", "Posts", new { Model.ID })" />
        }
        <br /><br />
        <h2 class="blog-item-title">
            @Html.ActionLink(Model.Title, "Post", "Posts", new { id = Model.ID }, new { @class = ""})
        </h2>
        @Html.Raw(Model.ArticleContent)
    </div>


</div>
