@model List<Rhythm.Domain.Model.Tag>


<h5 class="widget-title font-alt">Tags</h5>
<div class="widget-body">
    <div class="tags">
        @foreach (var t in Model)
        {
            <a href="@Url.Action("Tag", "Search", new { id = t.ID, Name = t.Name })" title="@t.Name">@t.Name</a>
            @Html.Hidden(t.Name)
        }
    </div>
</div>