@model Rhythm.BL.Provider.ArchiveProvider
@using Rhythm.BL.Models

<h5 class="widget-title font-alt">Archive</h5>
@foreach (Archive archive in Model)
{
    <div class="widget-body">
        <ul class="clearlist widget-menu">
            <li>
                @*@{ var url = Url.RouteUrl("PostByYearMonth", new { year = archive.Year, month = archive.Month }); }*@
                <a href="@Url.Action("Archive", "Search", new { archive.Year, archive.Month })" title="@archive.MonthYear">@archive.MonthYear</a>
                <div class="fa fa-examples">
                    <i class="fa fa-fw">&#xf0c2</i>
                    <i class="fa fa-fw">&#xf0c2</i>
                    <i class="fa fa-fw">&#xf0c2</i>
                </div>
            </li>
        </ul>
    </div>
}
