@model Rhythm.Models.RecentViewModel.ArticleWidgetViewModel

<h5 class="widget-title font-alt">Text widget</h5>
<div class="widget-body">
    <div class="widget-text clearfix">
        @if (Model.ImageData != null)
        {
            <img width="200" height="133" src="@Url.Action("GetImage", "Posts", new { Model.Id })" />
        }
        <br />
        <h2 class="blog-item-title">
            @Html.ActionLink(Model.Title, "Post", "Posts", new { id = Model.Id }, new { @class = "" })
        </h2>
        @Html.Raw(Model.ArticleContent)
    </div>
</div>